{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">{{ title }}</h1>
    {% if message %}
        <div class="alert alert-{{ message_type }}" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a class="btn btn-secondary" href="/add-department">Add department</a>
    {% endif %}
    <a class="btn btn-secondary" href="/">Back to jobs</a>
    {% for dep in departments %}
        <h2>Department # {{ loop.index }}</h2>
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th>Title of department</th>
                    <th>Chief</th>
                    <th>Members</th>
                    <th>Department E-mail</th>
                </tr>
            </thead>
            <tbody style="background-color: lightcyan">
                <tr>
                    <td>{{ dep.title }}</td>
                    <td>{{ dep.chief }}</td>
                    <td>{{ dep.members }}</td>
                    <td>{{ dep.email }}</td>
                </tr>
            </tbody>
        </table>
        {% if current_user.id in (1, dep.chief_id) %}
            <a class="btn btn-warning" href="/edit-department/{{ dep.id }}">Edit Department</a>
            <a class="btn btn-danger" href="/delete-department/{{ dep.id }}">Delete Department</a>
        {% endif %}
    {% endfor %}
{% endblock %}