{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">{{ title }}</h1>
    {% if message %}
        <div class="alert alert-{{ message_type }}" role="alert">
            {{ message }}
        </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a class="btn btn-secondary" href="/add-job">Add job</a>
    {% endif %}
    {% for job in jobs %}
        <h2>Action # {{ loop.index }}</h2>
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th>Title of activity</th>
                    <th>Team leader</th>
                    <th>Duration</th>
                    <th>List of collaborators</th>
                    <th>Is finished</th>
                </tr>
            </thead>
            <tbody style="background-color: lightcyan">
                <tr>
                    <td>{{ job.job }}</td>
                    <td>{{ job.team_leader }}</td>
                    <td>{{ job.work_size }} hours</td>
                    <td>{{ job.collaborators }}</td>
                    <td style="background-color: {% if not job.is_finished %}lightpink{% else %}lightgreen{% endif %}">
                        Is {% if not job.is_finished %}not {% endif %}finished
                    </td>
                </tr>
            </tbody>
        </table>
        {% if current_user.id in (1, job.team_leader) %}
            <a class="btn btn-warning" href="/edit-job/{{ job.id }}">Edit Job</a>
            <a class="btn btn-danger" href="/delete-job/{{ job.id }}">Delete Job</a>
        {% endif %}
    {% endfor %}
{% endblock %}